body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    border: 2px solid rgb(163, 163, 163);
    border-radius: 5%;
    margin: auto;
    padding: 20px;
    align-items: center;
}

section button{
    width: 100%;
    margin: 10px 0 0 0;
}

section input{
    width: 100%;
}
.divTable{
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.Celda {
    border: 1px solid black;
    padding: 8px 12px;
    text-align: left;
}